project/*
build/*
Tools/AssetBaker/build/*
Tools/ShaderCache/cache/*
Tools/ShaderCache/tmp/*
Tools/ShaderCache/__pycache__/*
DuskCore/UnityBuild/*
DuskRenderer/UnityBuild/*
DuskEd/UnityBuild/*
DuskEd/ThirdParty/FBX_SDK/*
DuskBaker/UnityBuild/*
*UnityBuild*
*.dummy
*.autosave
*.user
*.generated.h
*.reflected.h
