project/*
build/*
Tools/*.bin
Tools/*.hlsl
DuskCore/UnityBuild/*
DuskRenderer/UnityBuild/*
DuskEd/UnityBuild/*
DuskEd/ThirdParty/FBX_SDK/*
DuskBaker/UnityBuild/*
*UnityBuild*
*.dummy
*.autosave
*.user
*.generated.h
*.reflected.h
Assets/shaders/*